django
python-dotenv
django-phonenumber-field[phonenumbers]
psycopg2
gunicorn
Pillow
djangorestframework
djangorestframework-simplejwt
celery[redis]
django-celery-results
django-redis
django-celery-beat
django-bootstrap5
django-cors-headers
docker
channels[daphne]